# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [30]:
file = os.path.join("..","WeatherPy","cities.csv")
weather_df = pd.read_csv(file, encoding= 'utf-8')
weather_df.head(50)

,City_ID,City,Country,Date,Humidity,Lat,Long,Max Temp(F),Cloudiness,Wind Speed
0,0,Thompson,CA,1600382570,36,55.74,-97.86,48.20,40,10.29
1,1,Saskylakh,RU,1600382571,79,71.92,114.08,46.62,0,8.75
2,2,Jacareacanga,BR,1600382571,41,-6.22,-57.75,87.80,65,2.51
3,3,Ushuaia,AR,1600382437,86,-54.80,-68.30,33.80,75,26.40
4,4,Galveston,US,1600382571,62,29.37,-94.97,88.00,20,4.70
5,5,Rikitea,PF,1600382571,79,-23.12,-134.97,72.12,86,21.61
6,6,Edd,ER,1600382572,67,13.93,41.69,88.99,66,7.27
7,7,Punta Arenas,CL,1600382288,69,-53.15,-70.92,37.40,40,34.45
8,8,Albany,US,1600382493,80,42.60,-73.97,62.01,100,7.02
9,9,Arraial do Cabo,BR,1600382572,83,-22.97,-42.03,73.40,0,13.87
10,10,Hithadhoo,MV,1600382572,81,-0.60,73.08,82.13,81,11.32
11,11,Busselton,AU,1600382311,57,-33.65,115.33,46.99,0,9.60
12,12,Dikson,RU,1600382573,95,73.51,80.55,44.20,100,8.50
13,13,Bajmok,RS,1600382573,58,45.97,19.42,64.09,94,17.11
14,14,Atasū,KZ,1600382573,84,48.68,71.64,48.92,75,13.35
15,15,Kapaa,US,1600382573,58,22.08,-159.32,87.80,40,11.41
16,16,Kyzyl-Suu,KG,1600382574,78,42.34,78.00,48.31,99,5.17
17,17,Saldanha,ZA,1600382574,81,-33.01,17.94,51.80,0,2.24
18,18,San Quintín,MX,1600382574,29,30.48,-115.95,87.13,10,16.69
19,19,Geraldton,AU,1600382574,75,-28.77,114.60,46.40,0,6.93
20,20,Barrow,US,1600382574,87,71.29,-156.79,46.40,90,9.17
21,21,Cape Town,ZA,1600382342,93,-33.93,18.42,52.00,18,2.24
22,22,Bantry,IE,1600382361,87,51.68,-9.45,57.20,3,14.99
23,23,Ribeira Grande,PT,1600382575,86,38.52,-28.70,70.74,100,17.38
24,24,Jamestown,US,1600382575,72,42.10,-79.24,63.00,20,5.82
25,25,Tuktoyaktuk,CA,1600382576,81,69.45,-133.04,48.20,75,3.36
26,26,Touros,BR,1600382576,78,-5.20,-35.46,77.00,20,9.17
27,27,Evinayong,GQ,1600382576,98,1.44,10.55,68.09,85,2.04
28,28,Saint-Philippe,RE,1600382576,63,-21.36,55.77,66.00,48,6.93
29,29,Harper,LR,1600382576,87,4.38,-7.72,74.97,100,10.54
30,30,Anaco,VE,1600382577,93,9.44,-64.47,75.58,52,4.03
31,31,Broome,US,1600382577,93,42.25,-75.83,62.01,90,6.93
32,32,Luga,RU,1600382577,90,58.74,29.85,48.09,80,15.10
33,33,Saint Paul Harbor,US,1600382577,62,57.79,-152.41,55.40,90,9.17
34,34,Korla,CN,1600382578,59,41.76,86.15,66.99,0,1.99
35,35,Charlestown,AU,1600382558,96,-32.95,151.67,63.00,100,1.01
36,36,Hastings,GB,1600382578,80,50.86,0.57,54.00,0,1.99
37,37,Longyearbyen,SJ,1600382578,80,78.22,15.64,39.20,75,12.75
38,38,Aklavik,CA,1600382283,62,68.22,-135.01,53.60,20,2.24
39,39,Phuket,TH,1600382579,94,8.00,98.25,81.00,75,23.04
40,40,Severo-Kuril'sk,RU,1600382579,84,50.68,156.12,54.75,100,4.32
41,41,Khāpa,IN,1600382579,78,21.43,78.97,77.00,40,2.24
42,42,Port Hardy,CA,1600382580,77,50.70,-127.42,68.00,75,10.29
43,43,Rondonópolis,BR,1600382580,24,-16.47,-54.64,86.00,59,5.61
44,44,Juneau,US,1600382580,55,58.30,-134.42,60.80,75,5.82
45,45,Port Alfred,ZA,1600382580,75,-33.59,26.89,58.95,20,10.22
46,46,Fairbanks,US,1600382283,42,64.84,-147.72,62.60,75,8.05
47,47,Mar del Plata,AR,1600382581,34,-38.00,-57.56,64.40,30,9.17
48,48,Hermanus,ZA,1600382581,93,-34.42,19.23,45.00,33,4.21
49,49,Skjervøy,NO,1600382581,70,70.03,20.97,47.80,100,13.96

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [32]:
lat_lng = pd.DataFrame(weather_df.iloc[:, 5:7])
lat_lng

       Lat    Long
0    55.74  -97.86
1    71.92  114.08
2    -6.22  -57.75
3   -54.80  -68.30
4    29.37  -94.97
..     ...     ...
495  46.81    4.42
496  18.09  -15.98
497  29.03   21.55
498  20.79 -156.47
499  48.38   -4.62

[500 rows x 2 columns]

In [33]:
humidity = weather_df['Humidity']
humidity

0      36
1      79
2      41
3      86
4      62
       ..
495    72
496    79
497    65
498    43
499    82
Name: Humidity, Length: 500, dtype: int64

In [34]:
# create the mapping figure
fig= gmaps.figure()

# create the heatmap layer
heat_layer= gmaps.heatmap_layer(lat_lng, weights=humidity)


# add the heatmap layer to the figure
fig.add_layer(heat_layer)

# display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [56]:
#Criteria: A max temperature lower than 80 degrees but higher than 70.

nice_weather = weather_df[(weather_df['Max Temp(F)'] < 80) & (weather_df['Max Temp(F)'] > 70) & (weather_df['Humidity'] <30)]

nice_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 61 to 318
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City_ID      5 non-null      int64
 1   City         5 non-null      object
 2   Country      5 non-null      object
 3   Date         5 non-null      int64
 4   Humidity     5 non-null      int64
 5   Lat          5 non-null      float64
 6   Long         5 non-null      float64
 7   Max Temp(F)  5 non-null      float64
 8   Cloudiness   5 non-null      int64
 9   Wind Speed   5 non-null      float64
dtypes: float64(4), int64(4), object(2)
memory usage: 440.0+ bytes

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [57]:
hotel_df = nice_weather
hotel_df["Hotel Name"]= ""
hotel_df

C:\Users\Baba\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City_ID,City,Country,Date,Humidity,Lat,Long,Max Temp(F),Cloudiness,Wind Speed,Hotel Name
61,61,Caiapônia,BR,1600382584,23,-16.96,-51.81,78.03,63,0.63,
65,65,Kashan,IR,1600382585,25,33.98,51.44,70.50,0,5.70,
96,96,Santiago del Estero,AR,1600382592,23,-27.80,-64.26,75.13,0,7.49,
148,148,Sheridan,US,1600382404,29,44.83,-106.92,78.80,1,3.36,
318,318,Wana,PK,1600382642,19,32.30,69.57,72.43,0,5.35,

In [61]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Long"]
    print(f"Searching within {row['City']}, {row['Country']}...")

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)


    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Searching within Caiapônia, BR...
Searching within Kashan, IR...
Searching within Santiago del Estero, AR...
Searching within Sheridan, US...
Searching within Wana, PK...
Missing field/result... skipping.

,City_ID,City,Country,Date,Humidity,Lat,Long,Max Temp(F),Cloudiness,Wind Speed,Hotel Name
61,61,Caiapônia,BR,1600382584,23,-16.96,-51.81,78.03,63,0.63,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
65,65,Kashan,IR,1600382585,25,33.98,51.44,70.50,0,5.70,Kasian Hotel
96,96,Santiago del Estero,AR,1600382592,23,-27.80,-64.26,75.13,0,7.49,Hotel Savoy
148,148,Sheridan,US,1600382404,29,44.83,-106.92,78.80,1,3.36,Best Western Sheridan Center
318,318,Wana,PK,1600382642,19,32.30,69.57,72.43,0,5.35,

In [65]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [67]:
# Add marker layer ontop of heat map
# Create a marker layer using our coordinates
markers = gmaps.marker_layer(locations, info_box_content = hotel_info, display_info_box=True)

# Add the layer to the map
fig.add_layer(markers)

# display the figure with the newly added layer
fig

Figure(layout=FigureLayout(height='420px'))